# ignore all directories and hidden files
*/
.*

# but not these specifically
!.bash_profile
!.bashrc
!.bashrc.d
!.emacs.d/init.el
!.gitignore
!.inputrc
!.pryrc
!.jshintrc
!.jscsrc
!.eslintrc.js
!.rubocop.yml
!scripts
!scripts/bin

.gitconfig
.bashrc.d/homebrew-github-api-token.sh
.bashrc.d/gitlab-access-token.sh
.bashrc.d/rs-bashrc.sh
.ssh
